<!-- the nav -->

<nav id="top-nav" class="fixed-top">
  <div class="row">
    <div class="col-sm-6"><a href="#">Start Bootstrap</a></div>
    <div class="col-sm-6"><button type="button" class="btn">Menu<i></i></button></div>
  </div>
</nav>


<div class="container-fluid" id="first-part">
  <div class="row">
    <div class="col-lg-7">
      <p> New Age is an app landing page that 
          will help you beautifully showcase 
          your new mobile app, or anything else!</p>
      </div>
      <div class="col-lg-5"></div>
  </div>
 

  <button type="button"></button>
</div>

<!-- second -->
<div class="container-fluid" id="second-part">
  <h1>Discover what all</h1> 
  <h1>the buzz is about!</h1>
  <p>Our app is available on any mobile device! 
  Download now to get started!</p>
  <div class="col-sm-6"><button></button></div>
  <div class="col-sm-6"><button></button></div>
</div>

<!-- third -->
<div class="container" id="third-part">
 <h1> Unlimited Features, Unlimited Fun</h1>
 <p>Check out what you can do with this app theme!</p>

</div>
<!-- fourth -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1>Stop waiting.</h1>
      <h1>Start building.</h1>
      <button type="button"></button>
    </div>
  </div>

</div>
<!-- fifth -->
<div class="container">
  <div class="row">

    <h1>We <i></i> new friends!</h1>
    <p><i class="fab fa-twitter-square"></i></p>
    


  </div>
</div>

<div id="bottom-nav">
  
  <p>&copy; Your Website 2018. All Rights Reserved.</p>
  
  <p>Privacy Terms FAQ</p>
  
</div>


